@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line{
  height: 240px;
  width: 5px;
  background-color: #fa6969;
}

.line-1{
  width: 5px;
  background-color: #fa6969;
}